.about-me {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    padding: 20px;
    height: 90vh;
}

.intro-about {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.limits {
    font-family: cursive;
    font-size: 2rem;
}

.Greetings {
    color: red;
    font-size: 1.8rem;
}

.DSA {
    font-size: 1.5rem;
    margin-top: 10px;
}

.backend {
    font-size: 1.5rem;
    margin-top: 10px;
}