.nav1 {
    /* fixing nav bar at top code */
    position: fixed;
    width: 100%;
    overflow: hidden;
    /* background-color: rgba(255, 255, 255, 0.9); */
    z-index: 10;
    /* fixing nav bar ends here */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(163, 240, 239);
    padding: 10px 20px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    align-items: center;
    height: 5%;
}

.nav1:hover {
    opacity: 0.8;
}

.logo1 {
    flex: 1;
    text-align: center;
}

.logo1 p {
    padding: 10px 20px;
    font-family: cursive;
}

.links1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.links1 a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    padding: 10px 20px;
    border-radius: 10px;
}

.links1 a:hover {
    background-color: white;
    color: red;
}