.nav-bar {
    display: flex;
    flex-direction: row;
    border: 1px solid rebeccapurple;
}

.nav-bar p {
    font-size: 1.2rem;
    width: 50%;
    margin: auto 20px;
}

.nav-bar-ul {
    border: 1px solid salmon;
}

.nav-bar-ul-li {
    display: inline-block;
    margin: auto 10px;
}